<?xml version='1.0' encoding='utf-8'?>
<widget id="kz.kazpoisk.kz" version="2.4.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0.1">
    <name>kazpoisk</name>
    <description>
        Ads of Kazakhstan and World.
    </description>
    <author email="astana7777777@gmail.com" href="http://kazpoisk.kz">
        Akan Dulat Software Developer
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <platform name="android">
        <splash density="ldpi" height="426" orientation="portrait" platform="android" src="res/screen/android/320.png" width="320" />
        <splash density="mdpi" height="470" orientation="portrait" platform="android" src="res/screen/android/320470.png" width="320" />
        <splash density="hdpi" height="640" orientation="portrait" platform="android" src="res/screen/android/480640.png" width="480" />
        <splash density="xhdpi" height="960" orientation="portrait" platform="android" src="res/screen/android/720960.png" width="720" />
        <icon density="ldpi" height="36" platform="android" src="res/icon/android/3636.png" width="36" />
        <icon density="mdpi" height="48" platform="android" src="res/icon/android/4848.png" width="48" />
        <icon density="hdpi" height="72" platform="android" src="res/icon/android/7272.png" width="72" />
        <icon density="xhdpi" height="96" platform="android" src="res/icon/android/9696.png" width="96" />
    </platform>
    <platform name="ios">
        <splash height="480" orientation="portrait" platform="ios" src="res/screen/ios/320480.png" width="320" />
        <splash height="960" orientation="portrait" platform="ios" src="res/screen/ios/640960.png" width="640" />
        <splash height="1136" orientation="portrait" platform="ios" src="res/screen/ios/6401136.png" width="640" />
        <splash height="1334" orientation="portrait" platform="ios" src="res/screen/ios/7501334.png" width="750" />
        <splash height="1024" orientation="portrait" platform="ios" src="res/screen/ios/7681024.png" width="768" />
        <splash height="2208" orientation="portrait" platform="ios" src="res/screen/ios/12422208.png" width="1242" />
        <splash height="2048" orientation="portrait" platform="ios" src="res/screen/ios/15362048.png" width="1536" />
        <splash height="2732" orientation="portrait" platform="ios" src="res/screen/ios/20482732.png" width="2048" />
        <icon height="29" platform="ios" src="res/screen/ios/ios/2929.png" width="29" />
        <icon height="58" platform="ios" src="res/screen/ios/ios/5858.png" width="58" />
        <icon height="87" platform="ios" src="res/screen/ios/ios/8787.png" width="87" />
        <icon height="60" platform="ios" src="res/screen/ios/ios/6060.png" width="60" />
        <icon height="120" platform="ios" src="res/screen/ios/ios/120120.png" width="120" />
        <icon height="180" platform="ios" src="res/screen/ios/ios/180180.png" width="180" />
        <icon height="76" platform="ios" src="res/screen/ios/ios/7676.png" width="76" />
        <icon height="152" platform="ios" src="res/screen/ios/ios/152152.png" width="152" />
        <icon height="40" platform="ios" src="res/screen/ios/ios/4040.png" width="40" />
        <icon height="80" platform="ios" src="res/screen/ios/ios/8080.png" width="80" />
        <icon height="57" platform="ios" src="res/screen/ios/ios/5757.png" width="57" />
        <icon height="114" platform="ios" src="res/screen/ios/ios/114114.png" width="114" />
        <icon height="72" platform="ios" src="res/screen/ios/ios/7272.png" width="72" />
        <icon height="50" platform="ios" src="res/screen/ios/ios/5050.png" width="50" />
        <icon height="100" platform="ios" src="res/screen/ios/ios/100100.png" width="100" />
        <icon height="167" platform="ios" src="res/screen/ios/ios/167167.png" width="167" />
        <icon height="144" platform="ios" src="res/screen/ios/ios/144144.png" width="144" />
    </platform>
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="SplashScreenDelay" value="5000" />
    <preference name="FadeSplashScreen" value="false" />
    <preference name="FadeSplashScreenDuration" value="750" />
    <preference name="Fullscreen" value="false" />
    <plugin name="cordova-plugin-device" spec="^2.0.2" />
    <plugin name="cordova-plugin-camera" spec="^4.0.3">
        <variable name="CAMERA_USAGE_DESCRIPTION" value=" App would like to access the camera." />
        <variable name="PHOTOLIBRARY_USAGE_DESCRIPTION" value=" App would like to access the library." />
    </plugin>
    <plugin name="cordova-plugin-splashscreen" spec="https://github.com/apache/cordova-plugin-splashscreen.git" />
    <plugin name="cordova-plugin-contacts" spec="https://github.com/apache/cordova-plugin-contacts.git">
        <variable name="CONTACTS_USAGE_DESCRIPTION" value=" App would like to access the contacts." />
    </plugin>
    <plugin name="cordova-plugin-telerik-imagepicker" spec="https://github.com/Telerik-Verified-Plugins/ImagePicker.git">
        <variable name="PHOTO_LIBRARY_USAGE_DESCRIPTION" value="App would like to access the photos" />
    </plugin>
</widget>
