
.select-editable { position:relative; background-color:white; border:solid grey 1px;  width:120px; height:18px; }
  .select-editable select { position:absolute; top:0px; left:0px; font-size:14px; border:none; width:120px; margin:0; }
  .select-editable input { position:absolute; top:0px; left:0px; width:100px; padding:1px; font-size:12px; border:none; }
  .select-editable select:focus, .select-editable input:focus { outline:none; }
  
select option {
     background-color: #44776d;
  color: white;
}
.headerfix {
        position: fixed;
        top: 0px !important;
        width: 100%;
        background: #fff;
        z-index: 999;
}

.fixfixed .headerfix {
    position: absolute !important;
}
.iframevideo{
  
  -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    width: 200%;
  height: 200%;
  
  margin-left: -100%;
}
@media only screen and (min-height:480px){
  /* styles for browsers larger than 960px; */
  .mainpagetext{
    display:inline;
    color: #E0E3E6;
    font-size: 25px;
    text-shadow: 1px 1px 2px black, 0 0 1em black;
    border-bottom: 1px #5ca595 solid;
  }
  .mainpagelogo{
    width:40%; 
    margin-top:100px; 
    margin-left:30%; 
    height: 150px; 
    text-align: center;
  }
}
@media only screen and (max-height:480px){
  /* styles for browsers lower than 420px; */
  .mainpagetext{
    display:inline;
    color: #E0E3E6;
    font-size: 18px;
    text-shadow: 1px 1px 2px black, 0 0 1em black;
    border-bottom: 1px #5ca595 solid;
  }
  .mainpagelogo{
    width:30%; 
    margin-top:100px; 
    margin-left:35%; 
    height: 120px; 
    text-align: center;
  }
}

#ifrr{
  text-align: center;
  position:absolute; 
  z-index: 5;
  top:100px; 
  width: 100%; 
  overflow:hidden; 
  padding: 5px 0px;
  display: none;
}
#randomid{
  width: 100%;
  height: 100%;
  overflow: hidden !important;
}
.media-box{
  width: 200% !important;
  height: 200%;
  
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
  font-size: 18px;
}
::-moz-placeholder { /* Firefox 19+ */
  color: white;
  font-size: 18px;
}
:-ms-input-placeholder { /* IE 10+ */
  color: white;
  font-size: 18px;
}
:-moz-placeholder { /* Firefox 18- */
  color: white;
  font-size: : 18px;
}
.rotated { 
  transform: scale(1.15, 1.2);
  margin-left: 8%;
 /*  margin-left: -50%;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);*/
}
.rotated2 { 
  transform: scale(1.15, 1.2);
 /*  margin-left: -50%;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);*/
}

::-webkit-input-placeholder       {text-indent: 0px;   transition: text-indent 0.3s ease;}
::-moz-placeholder                {text-indent: 0px;   transition: text-indent 0.3s ease;}
:-moz-placeholder                 {text-indent: 0px;   transition: text-indent 0.3s ease;}
:-ms-input-placeholder            {text-indent: 0px;   transition: text-indent 0.3s ease;}
:focus::-webkit-input-placeholder {text-indent: 500px; transition: text-indent 0.3s ease;}
:focus::-moz-placeholder          {text-indent: 500px; transition: text-indent 0.3s ease;}
:focus:-moz-placeholder           {text-indent: 500px; transition: text-indent 0.3s ease;}
:focus:-ms-input-placeholder      {text-indent: 500px; transition: text-indent 0.3s ease;}

.loginf{
  background-image: linear-gradient(to top, #44776d 10%, #2e514c);
  color: white;
}
video{
  width: 200% !important;
  height: 200%;
  
}
.icon-bg{
  width:40px; 
  height:40px;
  background: #373b44;  /* fallback for old browsers */
  background: -webkit-radial-gradient(#37c1a9, #373b44);  /* Chrome 10-25, Safari 5.1-6 */
  background: radial-gradient(#37c1a9, #373b44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 40px;
}
.mbg{
  background: #034141;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #1c1d18 45%, #034141);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #1c1d18 45%, #034141); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 
}
.divider{
  background-image: url(/img/divide.png);
  text-align: center;
  color:#E0E3E6;
}
.divide{
  background: url(/img/divider.png) no-repeat center center;
  text-align: center;
  color:white;
}
.divid{
  text-align: center;
}
.underl{
  color: #E0E3E6;font-size: 16px;text-shadow: 1px 1px 2px blue, 0 0 1em black;
}
.ten{ 
  color: #5ca595;text-shadow: 1px 1px 2px black, 0 0 1em black;
}
.lafter{content:'';position:absolute;left:0;top:0;right:auto;bottom:auto;height:1px;width:100%;background: #373b44;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #73c8a9, #373b44);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #73c8a9, #373b44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
display:block;z-index:15;-webkit-transform-origin:50% 0%;transform-origin:50% 0%}
body {
  margin-left: 1px;padding: 0px;
        background: #232526;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

      }
      .panel .page, .panel .pages, .panel {
        background: none;
      }
      .panel .list-block ul {
        background: none;
        border:none;
      }
      .panel .list-block .item-link {
        color:#fff;
      }
      .panel .list-block .item-link:active {
        background: rgba(255,255,255,0.2);
      }
      .panel .list-block .item-inner {
        border-bottom-color:rgba(255,255,255,0.2);
      }
      .panel .content-block, .panel .content-block-title {
        color:#fff;
      }

      
.searchrest{
	display:none;
}
.size-16 { font-size: 16px }
.swiper-container {
  height: 100%;
}
.swiper-slide {
  background:#fff;
}
.swiper-slide span {
  text-align:center;
  display:block;
  margin:20px;
  font-size:21px;
}


.facebook-card .card-header {
    display: block;
    padding: 10px;
  }
  .facebook-card .facebook-avatar {
    float: left;
  }
  .facebook-card .facebook-name {
    margin-left: 44px;
    font-size: 14px;
    font-weight: 500;
  }
  .facebook-card .facebook-date {
    margin-left: 44px;
    font-size: 13px;
    color: #8e8e93;
  }
  .facebook-card .card-footer {
    background: #fafafa;
  }
  .facebook-card .card-footer a {
    color: #81848b;
    font-weight: 500;
  }
  .facebook-card .card-content img {
    display: block;
  }
  .facebook-card .card-content-inner {
    padding: 15px 10px;
  }  




  .demo-card-header-pic .card-header {
    height: 40vw;
    background-size: cover;
    background-position: center;
  }



/* preloader */



#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;

    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

    #loader:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #e74c3c;

        -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    #loader:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #f9c922;

        -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
          animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    @-webkit-keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }
    @keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }

@media only screen and (max-width : 1000px) and (max-height:2000px){


 .buttonmenu{
      position: absolute;
      left:93%;
      top:1%;
      width:50px;
      height:50px;
      background: none;
    }



}

@media only screen and (max-width : 700px) and (max-height:1000px){


 .buttonmenu{
      position: absolute;
      left:87%;
      top:0%;
      width:50px;
      height:50px;
      background: none;
    }



}







   


/*    .ng-invalid-email{
      border:1px solid red;
    }

    
    .ng-valid-email{
      border:1px solid blue;
    }

    .ng-valid{
      border:1px solid blue;
    }

    .ng-invalid{
      border:1px solid red;
    }*/




/* preloader */







/* Video Overlay
-----------------------------------------------------------------*/


/* Slider Caption
-----------------------------------------------------------------*/






  


